* {
  margin: 0;
}

.facebook-container {
  width: 100%;
}

/* ! ------------------------------- Header -------------------------------- * */
.header {
  height: 70px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
}

/* ! ------------------------------- Body -------------------------------- * */
.body {
  width: 100%;
  display: flex;
}

/* * ------------------ Sidebar ------------------- * */
.sidebar {
  width: 350px;
  min-width: 350px;
  height: calc(100vh - 70px);
  background-color: aqua;
  position: fixed;
  top: 70px;
  left: 0;
}

/* * ------------------ Card container ------------------- * */
.card-container {
  height: 300vh;
  background-color: green;
  width: calc(100vw - 700px);
  margin-left: 350px;
  margin-top: 70px;
}

/* * ------------------ User list ------------------- * */
.user-list {
  height: calc(100vh - 70px);
  background-color: yellow;
  width: 350px;
  min-width: 350px;
  position: fixed;
  top: 70px;
  right: 0;
}
